<section>
  <div class="p-tree p-component ng-star-inserted">
    <h2 class="flex justify-content-center">
      <span *ngIf="!assigned">Reasignación De {{ title }}</span>
      <span *ngIf="assigned">Asignación De {{ title }}</span>
    </h2>

    <div class="p-0 md:p-5 flex justify-content-evenly flex-column lg:flex-row">
      <div class="flex flex-column sm:flex-row my-1 lg:my-0">
        <div
          class="flex flex-row w-10 align-items-center justify-content-center sm:justify-content-start"
        >
          <i
            class="pi pi-bookmark mx-3 sm:mx-0"
            [ngStyle]="{ color: 'var(--cyan-500)' }"
          ></i>
          <p class="px-0 sm:px-5">Carrier</p>
        </div>
        <button
          pButton
          (click)="showCareerComponent()"
          class="p-element p-ripple p-button-rounded p-button p-component flex justify-content-center"
        >
          <i class="pi pi-pencil"></i>
          <span class="ml-2 font-bold">Show</span>
        </button>
      </div>
      <div class="flex flex-column sm:flex-row my-1 lg:my-0">
        <div
          class="flex flex-row w-10 align-items-center justify-content-center sm:justify-content-start"
        >
          <i
            class="pi pi-bars mx-3 sm:mx-0"
            [ngStyle]="{ color: 'var(--cyan-500)' }"
          ></i>
          <p class="px-0 sm:px-5">Category</p>
        </div>
        <button
          pButton
          (click)="showCategoryComponent()"
          class="p-element p-ripple p-button-rounded p-button p-component flex justify-content-center"
        >
          <i class="pi pi-pencil"></i>
          <span class="ml-2 font-bold">Show</span>
        </button>
      </div>
      <div class="flex flex-column sm:flex-row my-1 lg:my-0">
        <div
          class="flex flex-row w-10 align-items-center justify-content-center sm:justify-content-start"
        >
          <i
            class="pi pi-users mx-3 sm:mx-0"
            [ngStyle]="{ color: 'var(--cyan-500)' }"
          ></i>
          <p class="px-0 sm:px-5">Manager</p>
        </div>
        <button
          pButton
          (click)="showManagerComponent()"
          class="p-element p-ripple p-button-rounded p-button p-component flex justify-content-center"
        >
          <i class="pi pi-pencil"></i>
          <span class="ml-2 font-bold">Show</span>
        </button>
      </div>
    </div>
  </div>

  <div class="flex flex-column p-tree p-component ng-star-inserted">
    <h3 class="flex justify-content-center">
      Preparing Reassignment of Responsible
    </h3>
    <div class="hidden sm:flex flex-row justify-content-between">
      <h3 class="w-12 sm:w-3 py-2 px-3 px-9 flex justify-content-start">
        Selected Carrier
      </h3>
      <h3 class="w-12 sm:w-3 py-2 px-3 px-9 flex justify-content-start">
        Selected Category
      </h3>
      <h3 class="w-12 sm:w-3 py-2 px-3 px-9 flex justify-content-start">
        Selected Managers
      </h3>
      <h3 class="w-12 sm:w-3 py-2 px-3 px-9 flex justify-content-start">
        Correct
      </h3>
    </div>
    <div class="flex flex-column sm:flex-row justify-content-between">
      <span
        class="sm:hidden w-12 sm:w-3 py-2 px-3 px-9 flex justify-content-start"
        >Selected Carrier</span
      >
      <p class="w-12 sm:w-3 py-2 px-3 px-9 flex justify-content-start">
        {{ selectedOption.selectedCarrier?.name }}
      </p>
      <span
        class="sm:hidden w-12 sm:w-3 py-2 px-3 px-9 flex justify-content-start"
        >Selected Category</span
      >
      <p class="w-12 sm:w-3 py-2 px-3 px-9 flex justify-content-start">
        {{ selectedOption.selectedCategory?.name }}
      </p>
      <span
        class="sm:hidden w-12 sm:w-3 py-2 px-3 px-9 flex justify-content-start"
        >Selected Managers</span
      >
      <div
        class="w-12 sm:w-3 py-2 px-3 px-9 flex justify-content-start h-20rem overflow-y-scroll"
      >
        <h4>Managers</h4>
        <ul class="flex flex-column">
          <li *ngFor="let manager of selectedOption.selectedManagers">
            <span>
              {{ manager.name }}
            </span>
          </li>
        </ul>
      </div>
      <div class="w-12 sm:w-3 sm:py-2 px-9">
        <button
          pButton
          (click)="toAssign()"
          class="p-element p-ripple p-button-rounded p-button-success p-component flex justify-content-center"
        >
          <i class="pi pi-times-circle"></i>
          <span class="ml-2 font-bold">Correct</span>
        </button>
      </div>
    </div>
  </div>
</section>
